@import url(./main.css);


/* Container geral do Carrossel */

.carrossel {
   overflow: hidden;
   position: relative;
   margin-top: 10%;
   width: 100%;
   height: 600px;
   background: linear-gradient(to left, #a455ff, #bf9ce7 );
   
}

.carrossel-div {
   overflow: hidden;
   display: flex;
   position: absolute;
   width: 100%;
   height: 100%;
}

/*  */

.div-carrossel-img {
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
   max-height: 100%;

}

.div-carrossel-img img {
   border-radius: 5%;
   width: 90%;
   height: 70%;

}

/*  */

.div-carrossel-text {
   padding: 5% 4%;
   overflow: hidden;
   width: 50%;
   max-width: 50%;
   max-height: 100%;

}

.titulo {
   font-size: 43px;

}

.carrossel-text {
   padding: 3%;
   font-family: 'Heebo', sans-serif;
   font-size: 17px;
   text-align: justify;
   font-weight: bolder;
   text-shadow: 1px 1px 5px black;

}

/* Botão de transição entre os cotainers do carrossel */

.bnt-carrossel {
   position: absolute;
   background-color: #820AD1;
   width: 4%;
   height: 8.4%;
   border-radius: 50%;
   background: url('../img/bnt-carrossel.png') center;
   background-size: contain;
   cursor: pointer;
   border: solid black 2px;
   bottom: 4%;
   left: 50%;
}

.bnt-carrossel:active {
   background-color: #b13bff;
   background-image: none;
}

/* Animação de transição carrossel */

.avancar {
   animation: avancar-carrossel 2s linear;

}

@keyframes avancar-carrossel {

   From {
      margin-top: 0;
      opacity: 1;

   }

   to {
      margin-top: 30%;
      opacity: 0;

   }
}