@import url(./main.css);

/* Botão de transição entre os cotainers do carrossel */

.bnt-carrossel {
   position: absolute;
   background-color: #820AD1;
   width: 50px;
   height: 50px;
   top: 480px;
   border-radius: 50%;
   left: 50%;
   background: url('../img/bnt-carrossel.png') center;
   cursor: pointer;
   border: solid black 2px;
}

.bnt-carrossel:focus {
   position: absolute;
   background-color: #820AD1;
   background-image: none;
   width: 50px;
   height: 50px;
   top: 480px;
   border-radius: 50%;
   left: 50%;
   cursor: pointer;
   border: solid black 2px;
}

/* Container geral do Carrossel */

.carrosel {
   position: relative;
   width: 100%;
}

/* Ajustando Imagens dos sub containers do carrossel */

.img-carrossel {
   position: absolute;
   max-width: 47%;

}

.img-carrossel2 {
   position: absolute;
   max-width: 52%;
   height: 450px;
   left: 1%;
   border-radius: 20px;

}

.img-carrossel3 {
   position: absolute;
   max-width: 52%;
   height: 450px;
   left: 1%;
   border-radius: 20px;

}

/* Ajustando texto dos sub containers */


.sobre-cartao {
   
   position: absolute;
   font-family: 'Heebo', sans-serif;
   font-size: 20px;
   text-align: justify;
   max-width: 46%;
   font-weight: bolder;
   left: 51%;

}

.sobre-cartao p {

   text-shadow: 1px 1px 5px black;
   font-size: 43px;


}

.sobre-cartao p label {

   font-size: 18px;

}

.sobre-cartao2 {

   position: absolute;
   left: 54%;
   font-family: 'Heebo', sans-serif;
   font-size: 20px;
   text-align: justify;
   max-width: 43%;
   font-weight: bolder;


}

.sobre-cartao2 p {

   text-shadow: 1px 1px 5px black;
   font-size: 43px;

}

.sobre-cartao3 {

   position: absolute;
   left: 54%;
   font-family: 'Heebo', sans-serif;
   font-size: 20px;
   text-align: justify;
   max-width: 42%;
   font-weight: bolder;

}

.sobre-cartao3 p {

   text-shadow: 1px 1px 5px black;
   font-size: 43px;

}


/* Animação de transição carrossel */

.avancar {
   animation: avancar-carrossel 2s;

}

@keyframes avancar-carrossel {

   From {


      top: 0;
      opacity: 1;


   }

   to {

      top: 120px;
      opacity: 0;


   }
}