@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');

* {
   padding: 0;
   margin: 0;

}

body {

   background-image: url('../img/Nu-Background 3.png');
   background-color: #905EB2;

}


.img-meio {
   width: 100%;
   margin-top: 5%;
   position: absolute;
   display: flex;

}

#div-nu-gif {

   max-width: 80%;
   max-height: 80%;
   margin-left: 5%;
}

#div-nu-gif img {
   width: 100%;
   border-radius: 50px;

}

#div-nu-semfundo {
   margin-top: 5%;
   max-width: 45%;
   margin-left: 4%;

}

#div-nu-semfundo img {
   margin-left: 25%;
   width: 50%;
}


#sobre-nu {
   font-family: 'Heebo', sans-serif;
   font-size: larger;
   margin-top: 3%;
   height: 100%;
   max-height: 305px;
   text-align: justify;
   color: white;

}