/* Importando fonte do google fontes */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');

* {
   padding: 0;
   margin: 0;

}

/* Adicionando imagem de background da página */

body {

   background-image: url('../img/Nu-Background.png');
   background-color: #905EB2;
}

/* Ajustando o tamamho das divs e das imagens */


.img-meio {
   width: 100%;
   margin-top: 4%;
   display: flex;

}

#div-nu-gif {

   max-width: 45%;
   max-height: 45%;
   margin-left: 5%;
}

#div-nu-gif img {
   width: 100%;
   border-radius: 50px;

}

#div-nu-semfundo {
   margin-top: 5%;
   max-width: 45%;
   margin-left: 4%;

}

#div-nu-semfundo img {
   margin-left: 25%;
   width: 50%;
}

/* Ajustando texto de apresentação */


#sobre-nu {
   font-family: 'Heebo', sans-serif;
   font-size: 17px;
   margin-top: 3%;
   height: 100%;
   max-height: 305px;
   text-align: justify;
   color: white;
   text-shadow: 2px 2px 5px black;

}

/* Mini game da página */

.mini-game {
   margin: 30px auto;
   background-color: white;
   width: 80%;
   height: 400px;
   overflow: hidden;
   position: relative;
   border-radius: 30px;
   background: linear-gradient(#7c3ca7, #b997cf);
   background-image: url('/img/Nu-sede-gif.gif');
}

.titulo-game {
   position: absolute;
   color: black;
   font-size: large;
   font-family: 'Heebo', sans-serif;
   background-color: rgb(224, 13, 13);

}

.nu {
   position: absolute;
   width: 80px;
   bottom: 0;
   left: 180px;

}

.pulo {
   animation: nu-pulo 600ms ease-out;

}

.ladrao {
   position: absolute;
   width: 95px;
   bottom: -3px;
   transform: scaleX(-1);
   animation: ladrao-animation 2s infinite linear;

}

.barco1 {
   position: absolute;
   width: 180px;
   bottom: 130px;
   animation: barco1-animation 60s infinite linear;

}

.barco2 {
   position: absolute;
   width: 90px;
   bottom: 210px;
   animation: barco2-animation 80s infinite linear;

}

.barco3 {
   position: absolute;
   width: 40px;
   bottom: 250px;
   animation: barco3-animation 100s infinite linear;

}

/* Animações dos itens do game */

@keyframes ladrao-animation {

   from {
      right: -20%;

   }

   to {

      right: 100%;

   }

}

@keyframes nu-pulo {

   0% {

      bottom: 0;
   }

   40% {

      bottom: 120px;

   }


   50% {

      bottom: 120px;

   }


   100% {

      bottom: 0;

   }
}

@keyframes barco1-animation {

   from {

      left: -15%;
   }

   to {

      left: 97%;
   }
}

@keyframes barco2-animation {

   from {

      left: -10%;
   }

   to {

      left: 100%;
   }
}

@keyframes barco3-animation {

   from {

      right: -11%;
   }

   to {

      right: 100%;
   }
}