/* Importando fonte do google fontes */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');

* {
   padding: 0;
   margin: 0;

}

/* Adicionando imagem de background da página */

body {
   background: url('../img/Nu-Background.png'), url('../img/Nu-Background-branco.png') bottom;
   background-color: #905EB2;
   background-repeat: no-repeat;
}

/* Ajustando o tamamho das divs e das imagens */


.img-meio {
   width: 100%;
   margin-top: 4%;
   display: flex;

}

#div-nu-gif {

   max-width: 45%;
   max-height: 45%;
   margin-left: 5%;
}

#div-nu-gif img {
   width: 100%;
   border-radius: 50px;

}

#div-nu-semfundo {
   margin-top: 5%;
   max-width: 45%;
   margin-left: 4%;

}

#div-nu-semfundo img {
   margin-left: 25%;
   width: 50%;
}

/* Ajustando texto de apresentação */


#sobre-nu {
   font-family: 'Heebo', sans-serif;
   font-size: 17px;
   margin-top: 3%;
   height: 100%;
   max-height: 305px;
   text-align: justify;
   color: white;
   text-shadow: 2px 2px 5px black;

}

.nu-videos {
   position: relative;
   top: 200px;
   left: 15%;
   width: 70%;
   height: 450px;
   border-radius: 10px;

}
/* Mini game da página */

.mini-game {
   margin: 30% auto 10% auto;
   background-color: white;
   width: 80%;
   height: 400px;
   overflow: hidden;
   position: relative;
   border-radius: 30px;
   background: linear-gradient(#7c3ca7, #b997cf);
   background-image: url('/img/Nu-sede-gif.gif');
}

/* Botões do menu do mini-game */

#iniciar {
   position: absolute;
   width: 12%;
   height: 35px;
   top: 130px;
   left: 26%;
   background-color: #820AD1;
   font-size: 18px;
   font-family: 'Heebo', sans-serif;
   font-weight: bolder;
   color: white;
   border-radius: 15px;
   border: none;
   outline: none;

}

#iniciar:hover {
   position: absolute;
   width: 15%;
   height: 35px;
   top: 130px;
   left: 24.5%;
   background-color: #9900ff;
   font-size: 18px;
   font-family: 'Heebo', sans-serif;
   font-weight: bolder;
   color: white;
   border-radius: 15px;

}

#iniciar:active {
   height: 35px;
   background-color: #6200ff;
   border-radius: 15px;
}

#reiniciar {
   position: absolute;
   width: 12%;
   height: 35px;
   top: 130px;
   left: 44.5%;
   background-color: #820AD1;
   font-size: 18px;
   font-family: 'Heebo', sans-serif;
   font-weight: bolder;
   color: white;
   border-radius: 15px;
   border: none;
   outline: none;

}

#reiniciar:hover {
   position: absolute;
   width: 15%;
   height: 35px;
   top: 130px;
   left: 43%;
   background-color: #9900ff;
   font-size: 18px;
   font-family: 'Heebo', sans-serif;
   font-weight: bolder;
   color: white;
   border-radius: 15px;

}

#reiniciar:active {
   height: 35px;
   background-color: #6200ff;
   border-radius: 15px;
}

#instrucoes {
   position: absolute;
   width: 12%;
   height: 35px;
   top: 130px;
   left: 63%;
   background-color: #820AD1;
   font-size: 18px;
   font-family: 'Heebo', sans-serif;
   font-weight: bolder;
   color: white;
   border-radius: 15px;
   border: none;
   outline: none;

}

#instrucoes:hover {
   position: absolute;
   width: 15%;
   height: 35px;
   top: 130px;
   left: 61.5%;
   background-color: #9900ff;
   font-size: 18px;
   font-family: 'Heebo', sans-serif;
   font-weight: bolder;
   color: white;
   border-radius: 15px;

}

#instrucoes:active {
   height: 35px;
   background-color: #6200ff;
   border-radius: 15px;
}

#info {

   position: absolute;
   font-family: 'Heebo', sans-serif;
   text-shadow: 1px 1px 3px #3f049e;
   font-size: 18px;
   text-align: center;
   font-weight: bolder;
   left: 35%;
   top: 170px;


}


/* Elementos do mini-game */

.nu {
   position: absolute;
   width: 80px;
   bottom: 0;
   left: 180px;

}

.pulo {
   animation: nu-pulo 600ms ease-out;

}

.ladrao {
   position: absolute;
   width: 95px;
   bottom: -3px;
   transform: scaleX(-1);
   animation: ladrao-animation 2s infinite linear;

}

.barco1 {
   position: absolute;
   width: 180px;
   bottom: 130px;
   animation: barco1-animation 60s infinite linear;

}

.barco2 {
   position: absolute;
   width: 90px;
   bottom: 210px;
   animation: barco2-animation 80s infinite linear;

}

.barco3 {
   position: absolute;
   width: 40px;
   bottom: 250px;
   animation: barco3-animation 100s infinite linear;

}

/* Animações dos elementos do mini-game */

@keyframes ladrao-animation {

   from {
      right: -20%;

   }

   to {

      right: 100%;

   }

}

@keyframes nu-pulo {

   0% {

      bottom: 0;
   }

   40% {

      bottom: 120px;

   }


   50% {

      bottom: 120px;

   }


   100% {

      bottom: 0;

   }
}

@keyframes barco1-animation {

   from {

      left: -15%;
   }

   to {

      left: 97%;
   }
}

@keyframes barco2-animation {

   from {

      left: -10%;
   }

   to {

      left: 100%;
   }
}

@keyframes barco3-animation {

   from {

      right: -11%;
   }

   to {

      right: 100%;
   }
}