@import url(./main.css);

/* Mini game da página */

.mini-game {
   background-color: white;
   width: 80%;
   height: 400px;
   overflow: hidden;
   position: relative;
   left: 10%;
   border-radius: 30px;
   background: linear-gradient(#7c3ca7, #b997cf);
   background-image: url('/img/Nu-sede-gif.gif');
   background-size: cover;
   margin-bottom: 10%;
}

/* Contador de pontos */

#contador {
   top: 4%;
   left: 83%;
   position: absolute;
   font-family: 'Heebo', sans-serif;
   font-weight: bolder;
   background-color: #820AD1;
   color: white;
   padding-top: 8px;
   text-align: center;
   border-radius: 10px;
   width: 110px;
   height: 35px;
}

/* Botões do menu do mini-game */

#iniciar {
   position: absolute;
   width: 12%;
   height: 35px;
   top: 130px;
   left: 26%;
   background-color: #820AD1;
   font-size: 18px;
   font-family: 'Heebo', sans-serif;
   font-weight: bolder;
   color: white;
   border-radius: 15px;
   border: none;
   outline: none;

}

#iniciar:hover {
   position: absolute;
   width: 15%;
   height: 35px;
   top: 130px;
   left: 24.5%;
   background-color: #9900ff;
   font-size: 18px;
   font-family: 'Heebo', sans-serif;
   font-weight: bolder;
   color: white;
   border-radius: 15px;

}

#iniciar:active {
   height: 35px;
   background-color: #6200ff;
   border-radius: 15px;
}

#reiniciar {
   position: absolute;
   width: 12%;
   height: 35px;
   top: 130px;
   left: 44.5%;
   background-color: #820AD1;
   font-size: 18px;
   font-family: 'Heebo', sans-serif;
   font-weight: bolder;
   color: white;
   border-radius: 15px;
   border: none;
   outline: none;

}

#reiniciar:hover {
   position: absolute;
   width: 15%;
   height: 35px;
   top: 130px;
   left: 43%;
   background-color: #9900ff;
   font-size: 18px;
   font-family: 'Heebo', sans-serif;
   font-weight: bolder;
   color: white;
   border-radius: 15px;

}

#reiniciar:active {
   height: 35px;
   background-color: #6200ff;
   border-radius: 15px;
}

#instrucoes {
   position: absolute;
   width: 12%;
   height: 35px;
   top: 130px;
   left: 63%;
   background-color: #820AD1;
   font-size: 18px;
   font-family: 'Heebo', sans-serif;
   font-weight: bolder;
   color: white;
   border-radius: 15px;
   border: none;
   outline: none;

}

#instrucoes:hover {
   position: absolute;
   width: 15%;
   height: 35px;
   top: 130px;
   left: 61.5%;
   background-color: #9900ff;
   font-size: 18px;
   font-family: 'Heebo', sans-serif;
   font-weight: bolder;
   color: white;
   border-radius: 15px;

}

#instrucoes:active {
   height: 35px;
   background-color: #6200ff;
   border-radius: 15px;
}

#info {

   position: absolute;
   font-family: 'Heebo', sans-serif;
   text-shadow: 1px 1px 3px #3f049e;
   font-size: 18px;
   text-align: center;
   font-weight: bolder;
   left: 35%;
   top: 170px;


}


/* Elementos do mini-game */

.nu {
   position: absolute;
   width: 80px;
   bottom: 0;
   left: 180px;

}

.pulo {
   animation: nu-pulo 600ms ease-out;

}

.ladrao {
   position: absolute;
   width: 95px;
   bottom: -3px;
   transform: scaleX(-1);
   animation: ladrao-animation 2s infinite linear;

}

.barco1 {
   position: absolute;
   width: 180px;
   bottom: 130px;
   animation: barco1-animation 60s infinite linear;

}

.barco2 {
   position: absolute;
   width: 90px;
   bottom: 210px;
   animation: barco2-animation 80s infinite linear;

}

.barco3 {
   position: absolute;
   width: 40px;
   bottom: 250px;
   animation: barco3-animation 100s infinite linear;

}

/* Animações dos elementos do mini-game */

@keyframes ladrao-animation {

   from {
      right: -20%;

   }

   to {

      right: 100%;

   }

}

@keyframes nu-pulo {

   0% {

      bottom: 0;
   }

   40% {

      bottom: 120px;

   }


   50% {

      bottom: 120px;

   }


   100% {

      bottom: 0;

   }
}

@keyframes barco1-animation {

   from {

      left: -15%;
   }

   to {

      left: 97%;
   }
}

@keyframes barco2-animation {

   from {

      left: -10%;
   }

   to {

      left: 100%;
   }
}

@keyframes barco3-animation {

   from {

      right: -11%;
   }

   to {

      right: 100%;
   }
}